HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### TodoList ###
/src/TodoList.md

# .DS_Store 파일 제외
.DS_Store

# Docker 관련 파일 제외
docker-compose.yml
docker-stack.yml
.dockerignore

# Gradle 관련 파일 제외
.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# 테스트 파일 제외
/Performance-Test/load-test/README.md
/Performance-Test/endurance-test/README.md
/Performance-Test/stress-test/README.md
/Performance-Test/spike-test/README.md